@-webkit-keyframes come-in {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    transform: translateX(0px) scale(1.2);
  }

  100% {
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

@keyframes come-in {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    transform: translateX(0px) scale(1.2);
  }

  100% {
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 0;
  margin: 32px 24px;
}

.floating-container:hover {
  height: 280px;
}

.floating-container .floating-button {
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 64px;
  background: #075e54;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  text-align: center;
  font-size: 28px;
  z-index: 100;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  transition: all 0.3s;
}

.floating-container:hover .floating-button {
  box-shadow: 3px 3px 6px #999;
  transform: translatey(5px);
  transition: all 0.3s;
}

.floating-container .element-container .float-element {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 52px;
  background: #075e54;
  border-radius: 50%;
  margin: 16px auto;
  color: #fff;
  text-align: center;
  font-size: 22px;
  z-index: 0;
  opacity: 0;
  box-shadow: 2px 2px 3px #999;
  transform: translateY(80px);
}

.floating-container:hover .element-container .float-element {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container .element-container .float-element svg {
  width: 22px;
  height: 22px;
}

.floating-container:hover .element-container .float-element.animate-delay-1 {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element.animate-delay-2 {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}

.bg-whatsapp {
  background-color: #25d366 !important;
}

.bg-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important;
}

/* md */
@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
}

.parallax_cover {
  width: 100% !important;
}

.border-t-2 {
  border-top: 2px solid #edeef1 !important;
}